<!DOCTYPE html>
<html>
  <head>
    <title>Istory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
  <ul>
    <li><%= link_to "Login", '#' %></li>
    <li><%= link_to "Sign up", '#' %></li>
  </ul>
  <h1>
    <%= yield %>
  </h1>
</body>
</html>
