<!DOCTYPE html>
<html>
  <head>
    <title>Istory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <section id="navbar">
      <ul>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Login with Facebook", user_facebook_omniauth_authorize_path %></li>
      </ul>
    </section>
    <section id="content">
      <% if notice %>
        <p><%= notice %></p>
        <% elsif alert %>
          <p><%= alert %></p>
        <% end %>
        <%= yield %>
      </section>
      <section id ="footer">
        <p><%= link_to "Contact", '#' %></p>
        <p><%= link_to "About", '#' %></p>
      </section>
    </body>
  </html>
